:root {
    --header-color: #31343D;
    --primary-color: #92CCCD;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
    --section-color: #455978;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-color: #EDEDF6;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #31343D;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-color:var(--header-color);
    background-attachment: fixed;
}

.header-highlight{
    background-color: #31343D;
}


header a {
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #31343D;
    margin: 0;
    background-color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

section {
    padding: 30px;
}

/* Hero Style Start */
.hero {
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.hero-section {
    background-color: var(--primary-color);
    padding: 0.3vw;
    width: 20%;
    display: flex;
    justify-content: right;
    margin-top: 5%;
}

.hero-section h2 {
    color: var(--header-color);
    margin: 0 auto;
    font-size: 2.5vw;
}
  /* HERO STYLES END */

.intro p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.primary-border {
    border-color: var(--primary-color);
}

.secondary-border {
    border-color: var(--tertiary-color);
}

.bio-section {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    justify-content: space-between;
    text-align: right;
    border-right: 5px solid var(--header-color);
    padding-right: 10px;
}

.bio-section h3{
    color: var(--header-color);
    font-size: 4vw;
    flex: 1 30%;
}

.bio-section-info{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    justify-content: space-between;
    text-align: right;
    border-right: 5px solid var(--header-color);
    padding-right: 10px;
}

.step {
    margin: 50px auto;
    padding-bottom: 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.step:last-child {
    text-align: right;
}

.step:not(:last-child) {
    text-align: right;
}

.step h3{
    color: var(--section-color);
    font-size: 3vw;
    flex: 1 10%;
    border-right: 5px solid var(--section-color);
    padding-right: 10px;
}

.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: var(--secondary-color);
}

.step-text p {
    color: var(--tertiary-color);
    font-size: 18px;
    padding-left: 30px;
    text-align: left;
}

.step-text {
    flex: 12;
}

.step-info{
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .hero-cta, .hero-form {
        width: 100%;
    }
    
    .hero-cta {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
    
    .step h3 {
        flex: 1 100%;
        text-align: center;
    }
    
    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }
    
    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .step-text {
        flex: 100%;  
    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    
    .section-title {
        width: 95%;
    }
    
    .intro p {
        width: 100%;
    }
}  
