:root {
    --header-color: #31343D;
    --primary-color: #92CCCD;
    --section-color: #455978;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #EDEDF6;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #31343D;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-color:var(--header-color);
    background-attachment: fixed;
}

.header-highlight{
    background-color: #31343D;
}


header a {
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #31343D;
    margin: 0;
    background-color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section {
    padding: 10px;
}

/* Hero Style Start */
.hero {
    background-image: url('../images/hero-bg.JPG');
    background-size: cover;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.hero-section {
    background-color: var(--primary-color);
    padding: 0.3vw;
    width: 20%;
    display: flex;
    justify-content: right;
    margin-top: 5%;
}

.hero-section h2 {
    color: var(--header-color);
    margin: 0 auto;
    font-size: 2.5vw;
}
  /* HERO STYLES END */

.primary-border {
    border-color: var(--primary-color);
}

.bio-section {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    justify-content: space-between;
    text-align: right;
    border-right: 5px solid var(--header-color);
    padding-right: 10px;
}

.bio-section h3{
    color: var(--header-color);
    font-size: 4vw;
    flex: 1 30%;
}

.bio-section-info{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    justify-content: space-between;
    text-align: right;
    border-right: 5px solid var(--header-color);
    padding-right: 10px;
}

.step {
    margin: 50px auto;
    padding-bottom: 10px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.step:last-child {
    text-align: right;
}

.step:not(:last-child) {
    text-align: right;
}

.step h3{
    color: var(--section-color);
    font-size: 30px;
    flex: 1 10%;
    padding-right: 10px;
}

.step-text {
    flex: 12;
    border-left: 4px solid var(--section-color);
    text-align: left;
}


.step-text p {
    color: var(--section-color);
    font-size: 16px;
    padding-left: 30px;
    padding-right: 10px;
    text-align: left;
}

.img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 20%;
    height: auto;
}


/*contact me section style*/
.contactinfo {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-around;
    font-size: 18px;
    width: 100%;
}
.contactinfo a {
    text-decoration: none;
    border-radius: 5px;
    margin: 0 30px;
    color: var(--header-color);
    font-weight: bold;
    border-bottom: 3px solid var(--section-color);
}


/*********MY-WORK**********/
.grid-work-container {
    display: grid;
    height: 80vh;
    flex: 80%;
    padding: 0 30px;
    grid-gap: 10px;    
}

.grid-item {
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background: cover;
    border: 5px solid var(--primary-color);
}

.grid-item a{
    text-decoration: none;
}  

.grid-work-item-1 {
    grid-column: 1 / span 2 ;
    background-image: url('../images/run-buddy.JPG');
}

.grid-work-item-2 {
    grid-column: 1 / span 1 ;
    grid-row: 2 / span 1;
    background-image: url('../images/hero-bg.JPG');
}

.grid-work-item-3 {
    grid-column: 2 / span 1 ;
    grid-row: 2 / span 1;
    background-image: url('../images/hero-bg.JPG');
}

.grid-work-item-4 {
    grid-column: 1 / span 1 ;
    grid-row: 3 / span 1;
    background-image: url('../images/hero-bg.JPG');
}

.grid-work-item-5 {
    grid-column: 2 / span 1 ;
    grid-row: 3 / span 1;
    background-image: url('../images/hero-bg.JPG');
}

.grid-item p {
    margin: 20px 10px 20px 0; 
    padding: 10px; 
    background-color:var(--primary-color);
    font-size: 20px;
    font-weight: bold;
    color: var(--header-color);
}

.grid-item span {
    font-size: 12px;
    color: var(--section-color);
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .hero-cta, .hero-form {
        width: 100%;
    }
    
    .hero-cta {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
    
    .step h3 {
        flex: 1 100%;
        text-align: center;
    }
    
    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }
    
    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .step-text {
        flex: 100%;  
    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    
    .section-title {
        width: 95%;
    }
    
    .intro p {
        width: 100%;
    }
}  
